*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    overflow: none;
}

.login{
    
    padding: 80px 0px;
    height: 780px;
    /* background: linear-gradient(135deg,rgba(0,0,0,0.8),rgba(0,0,0,0.4)),url("bglagi.png"); */
    background-size: cover;
    background-repeat: no-repeat;
}

.loginmenu{
    position: fixed;
    width: 600px;
    right: 30%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    filter: drop-shadow(1px 1px 10px rgba(88, 88, 88, 0.19));
}
.title{
    padding-top: 20px;
    text-align: center;
}


.user{
    color: black;
    font-size: 16px;
    margin-bottom: 15px;
}

.password{
    color: black;
    font-size: 16px;
}

.fill{
    margin: 8px 0;
    color: grey;
    align-items: center;
    border: solid 1px black;
    padding: 8px;
    border-radius: 10px;

}

.fill i{
    transform: translateY(1px);
    margin-right: 8px;
    margin-left: 2px;
    font-size: 18px;
}

.fill input{
    width: 90%;
    border: none;
    outline: none;
}

form{
    margin-top: 50px;
    margin-bottom: 50px;
}

.extra{
    margin: 0 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: black;
}

.forget a{
    color: black;
}

.log-button{
    text-align: center;
}
.log-button a{
    color: white;
    text-decoration: none;
}

.log-button button{
    background-color: black;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    transition: 0.2s;

}

.log-button button:hover{
    background-color: rgb(41, 41, 41);
    transition: 0.2s;
    border-radius: 20px;
}

.log a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.guest{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.guest a{
    color: black;
}
